SYNC_DB_URL=postgresql+psycopg2://user:password@localhost:5432/db_name
ASYNC_DB_URL=postgresql+asyncpg://user:password@localhost:5432/db_name
ASYNC_TEST_DB_URL=postgresql+asyncpg://user:password@localhost:5432/test_db_name

ARGON2_PASSWORD_PEPPER=your_argon_pepper

ACCESS_TOKEN_SECRET_KEY=your_access_token_secret_key
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret_key

ACCESS_TOKEN_EXPIRE_TIME=your_access_token_expire_time
REFRESH_TOKEN_EXPIRE_TIME=your_refresh_token_expire_time

REDIS_URL=redis://localhost:6379    # add password if applicable

SENTRY_SDK_DSN=your_sentry_sdk_dsn  # get at https://sentry.io

CLIENT_ID=your_google_oauth_client_id
CLIENT_SECRET=your_google_oauth_client_secret

SESSION_SECRET_KEY=your_session_secret

URL_EXPIRE_TIME=your_url_expire_time

API_BROKER=amqp://user:password@localhost:5672/vhost

# get at https://resend.com
API_EMAIL=your_resend_api_email
RESEND_API_KEY=your_resend_api_key

OTP_EXPIRE_TIME=your_otp_expire_time
